<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartarrium" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Smartarrium" >
        <activity android:name=".ManualMode" > </activity>
        <activity android:name=".Scheduler" />

        <activity android:name=".WelcomeScreen" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <activity android:name=".WelcomeScreen" />
        <activity android:name=".ScannerQR"></activity>
        <activity android:name=".ControllerConnector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".ScannerQR"/>
        <activity android:name=".ControllerConnector" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>
